
<div #map class="map" (click)="handleMapClick($event)"></div>
<div class="button-container">
  <button class="toggle-button" (click)="toggleWMSLayer()">Toggle WMS Layer</button>
  <input type="file" id="file-input" class="browse-button" (change)="onFileInputChange($event)" accept=".json" />
</div>


<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content" class="popup-content">
    <button (click)="closePopup()">Close</button>
    <div id="address-content"></div>
  </div>
</div>
