/* Adjust the map container size to 80vh */
.map {
  width: 100%;
  height: 90vh;
}

/* Add some styling to the file input */
input[type="file"] {
  display: block;
  margin-top: 10px;
}

/* Container for buttons, horizontally aligned */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the Toggle WMS Layer button with blue color */
.toggle-button {

  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* Style the file input button with blue color */
.browse-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: inline-block;
}


/* Styling for the popup */
.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

/* Arrow styling for the popup */
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

}

/* Adjust the size of the arrow */
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #ccc;
  border-width: 11px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -11px;
}

/* Increase the size of the popup content */
.popup-content {
  width: 100%;
  height: 100%;
}

/* Styling for the popup closer (close button) */
.ol-popup-closer {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #333;
  line-height: 1;
  border: none;
  text-decoration: none; 
  outline: none; 
}

/* Define the cross (×) as content */
.ol-popup-closer::before {
  content: "×";
}
